<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PizzaAdd</title>
    <!-- src: https://getbootstrap.com/docs/5.0/getting-started/introduction/ !-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Pizza Number</th>
            <th>Pizza Name</th>
            <th>Quantity</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {#for position in OrderPositions.currentOrderDTO.orderPositionDTOs}
            <tr>
            <td>{position.pizzaId}</td>
            <td>{position.pizzaName}</td>
            <td>{position.quantity}</td>
            <td><button type="button" class="btn btn-info" onclick="window.location.href='/ui/pizza/details/{position.pizzaId}';">
                Details
            </button></td>
            </tr>
        {/for}
        </tbody>
    </table>

</div>


<div class="container">
    <div class="row">
        <div class="col">
            <h1> Add Pizza</h1>
            <form action="/ui/orders/{OrderPositions.id}" method="POST" name="addOrder">
                <label for="pizzaId">Pizza Id:</label>
                <label>
                    <input type="text" name="pizzaId">
                </label>
                <br>
                <label for="pizzaQuantity">Quantity:</label>
                <label>
                    <input type="qty" name="pizzaQuantity">
                </label>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col">
            <h1> Delete Pizza</h1>
            <form action="/ui/orders/delete/{OrderPositions.id}" method="POST" name="deleteOrder">
                <label for="pizzaId">Pizza Id:</label>
                <label>
                    <input type="text" name="pizzaId">
                </label>

                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col">
            <h1> Update Pizza</h1>
            <form action="/ui/orders/update/{OrderPositions.id}" method="POST" name="updateOrder">
                <label for="pizzaId">Pizza Id:</label>
                <label>
                    <input type="text" name="pizzaId">
                </label>
                <br>
                <label for="pizzaQuantity">Quantity:</label>
                <label>
                    <input type="number" name="pizzaQuantity">
                </label>

                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


<div class="container d-flex align-items-center justify-content-center">
    <button type="button" class="btn btn-success" onclick="window.location.href='/ui/orders/{OrderPositions.id}/submit';">Send Order</button>
</div>



</body>
</html>